@tailwind base;
@tailwind components;
@tailwind utilities;

.menu-item li a {
  @apply p-4 inline-block;
}
.sidebar li a {
  @apply py-2 inline-block border-b w-full;
}
.sidebar li:last-child a {
  @apply border-b-0;
}


@layer components {
  .bg-cs {
    @apply bg-no-repeat bg-cover;
  }
  .feature div:last-child {
    @apply border-b-0 border-r-0 ;
  }
  .features li {
    /* @apply  */
  }
}

/* .threeD {
  perspective: 100px;
  backface-visibility: hidden;
  transform-style: preserve-3d;
} */
