@tailwind base;
@tailwind components;
@tailwind utilities;

.menu-item li a {
  @apply p-4 inline-block;
}
.sidebar li a {
  @apply py-[9px] inline-block border-b w-full;
}
.sidebar li:last-child a {
  @apply border-b-0;
}

/* .threeD {
  perspective: 100px;
  backface-visibility: hidden;
  transform-style: preserve-3d;
} */


